/* @import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap'); */

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

#root {
    background-color: hsl(180, 52%, 96%)
}

.header {
    background-color: hsl(180, 29%, 50%);
    height: 144px;
    background-image: linear-gradient();
    margin-bottom: -20px;
}

.header-picture {
    height: 100%;
    width: 100%;
}

.search-input {
    width: 100%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 9px hsla(180, 5%, 36%, 0.37);
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    display: flex;
}

.each-job {
    display: flex;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 9px hsla(180, 5%, 36%, 0.37);
    margin-bottom: 20px;
    border-radius: 4px;
}

.dots-listings {
    display: flex;
    color: hsl(180, 8%, 52%);
    font-size: 10px;

}

.dots-listings>p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;

}

.right-panel-listings {
    display: flex
}

.left-panel-listings {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.company {
    color: hsl(180, 29%, 50%);
    font-size: 12px;
    margin: 0 auto;
    font-weight: 500;
    margin: 0;
}

.position {
    color: hsl(180, 29%, 50%);
    font-size: 12px;
    font-weight: 600;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    flex-wrap: wrap;
    margin: auto;
    width: 65%;
}

.singleB {
    background-color: hsl(180, 52%, 96%);
    border-radius: 4px;
    font-weight: 600;
    color: hsl(180, 29%, 50%);
    font-size: 10px;
    margin-right: 5px;
    /* box-shadow: 0px 2px 9px hsla(180, 5%, 36%, 0.37); */
    border-color: hsl(180, 52%, 96%);

}

.extraP {
    margin: 0 auto;
}

.label-new,
.label-future {
    margin-left: 4px;
    font-size: 9px;
    border-radius: 12px;
    color: #f0f8ff;
    padding: 2px 8px;
    height: 20px;
    font-weight: bolder;

}

.label-future {
    background-color: #000;
}

.label-new {
    background-color: #5ba4a4;
}

.singleB:hover {
    background-color: hsl(180, 8%, 52%);
    border-color: hsl(180, 8%, 52%);
    color: white;
}

.singleB-input {
    background-color: hsl(180, 52%, 96%);
    border-radius: 4px;
    font-weight: 600;
    color: hsl(180, 29%, 50%);
    font-size: 10px;
    margin-right: 5px;
    /* box-shadow: 0px 2px 9px hsla(180, 5%, 36%, 0.37); */
    border-color: hsl(180, 52%, 96%);
}

.key-button {
    margin-right: 0px;
    border-radius: 4px 0px 0px 4px;
}

.x-button {
    margin-left: 0px;
    border-radius: 0px 4px 4px 0px;
    background-color: hsl(180, 29%, 50%);
    border-color: hsl(180, 29%, 50%);
    color: white;
}

.clear-button {
    box-shadow: 0px 0px 0px hsla(0, 0%, 0%, 0.37);
    border-color: hsl(180, 52%, 96%);
    margin-left: auto;
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .each-job {
        flex-direction: column;
    }

    .image {
        margin-top: -50px;
    }

    .each-job {
        margin-top: 40px;
    }

    .search-input {
        flex-wrap: wrap;
    }

    .dots-listings {
        margin-bottom: 10px;
    }

    .left-panel-listings {
        border-bottom: solid 1px #E0E0E0;
        border-bottom-width: 80%;
    }

    .button {
        justify-content: flex-start;
    }
}